@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: 'Inter', sans-serif;
}

.bg-image{
  background-attachment: url(/images/recording.mp4);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.features-bg{
  background: rgba(2, 0, 36, 0.377);
  background: linear-gradient(90deg, rgba(0, 51, 7, 0.788) 0%, rgba(30,138,0,1) 35%, rgba(46,194,98,1) 100%);
}

